.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #140705; /* Match the background color */
  }
  
  .title {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .box {
    background-color: #5a3921; /* Match the dice roller box color */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    color: black;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #97733e; /* Border color matching the theme */
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .button {
    background-color: #97733e; /* Button color matching the theme */
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #a05c29;
  }
  
  .error {
    color: red;
    margin-top: 1rem;
    font-size: 0.9rem;
  }