.logo h1 {
    margin-right: 50px;
    font-size: 35px;
    font-weight: bold;
    pointer-events: painted;
  }

  .logoHome{
    color: #140705;
  }
  
  
  .navLinks {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  .navLinks li {
    display: inline;
  }
  
  .navButton {
    background-color: #9a8c98;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    justify-content: first baseline;
    align-items: start;
    font-size: 1rem;
  }
  
  .navButton:hover {
    background-color: #c9ada7;
  }
  
  .navButton:active {
    transform: scale(0.95);
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #140705;
    color: white;
  }
  
  .navButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #97733e;
    color: white;
    cursor: pointer;
    margin: 15px;
  }
  
  .navButton:hover {
    background-color: #a05c29;
  }
  