.historyContainer {
    background-color: #5a3921; /* Match dice roller box color */
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
    width: 100%;
    max-width: 400px;
  }
  
  .historyContainer h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .historyList {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto; /* Enable scrolling for long history */
  }
  
  .historyItem {
    color: #fff;
    background-color: #774936;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .historyItem:hover {
    background-color: #a05c29;
  }
  
  .noHistory {
    color: #fff;
    text-align: center;
    font-size: 1rem;
  }