.sidebar {
  position: fixed;
  right: 0;
  top: 5;
  width: 12.5vw;
  height: 80vh;
  background-color: #492e22;
  border-left: 2px solid #a05c29;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.historyTitle {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #f1a223;
}

.dropdown {
  margin-bottom: 15px;
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  background-color: #b0916b; 
}

.scrollable {
  overflow-y: auto;
  flex-grow: 1; 
  height: 100%; 
}

.historyList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.historyItem {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.maxRoll {
  background-color: #28a745; 
  color: white;
  font-weight: bold;
}

.minRoll {
  background-color: #dc3545; 
  color: white;
  font-weight: bold;
}

.counterContainer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.counterText {
  margin: 5px 0;
}

.maxRollCounter {
  color: #28a745;
}

.minRollCounter {
  color: #dc3545;
}
